.container {
  position: relative;
  background-color: lightgreen;
  color: black;
  border-radius: 8px;
  border: solid 1px black;
  margin: 8px 4px;
  padding: 6px;
  cursor: pointer;
  margin-left: auto;
  width: 36px;
  height: 36px;
  opacity: 25%;
}

.icon {
  margin-left: 2px;
  margin-top: 2px;
  width: 32px;
}

.label {
  position: absolute;
  top: 19px;
  left: 13px;
  font-size: 7px;
  font-weight: bold;
}
