.addform {
  color: black;
  display: flex;
  flex-direction: column;
}

.combo {
  display: flex;
  flex-direction: column;
}

.datalist {
  display: flex;
  flex-direction: column;
  background-color: red;
}

.addbutton {
  color: black;
  background-color: white;
  cursor: pointer;
  padding: 8px;
  margin-top: 16px;
}

input {
  font-size: large;
  margin-top: 10px;
  padding: 12px;
}