#root {
  margin: 0 auto;
  padding: 2rem;
}

.layer1 {
  display: flex;
  background: #000000a0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;

}

.layer0 {
  display: flex;
  flex-direction: column;
  background: black;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.menuContainer {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0px;
  top: 0px;
  height: 100%;
}

.menu {
  background-color: lightgreen;
  color: black;
  border-radius: 8px;
  border: solid 1px black;
  margin: 8px 4px;
  padding: 6px;
  cursor: pointer;
  margin-left: auto;
  width: 32px;
  opacity: 25%;
}

.disabled {
  opacity: 10%;
  cursor: default;
}

.reset {
  margin-top: auto;
  margin-bottom: 20px;
}

.stopScrolling {
  height: 100%;
  overflow: hidden;
}