#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.menu-container {
  display: flex;
}

.menu {
  background-color: lightgreen;
  color: black;
  border-radius: 8px;
  margin: 6px;
  padding: 10px;
  cursor: pointer;
  margin-left: auto;
}

.disabled {
  opacity: 10%;
  cursor: default;
}

.reset, .add {
  margin-left: 6px;
}
