.container {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}

.packing {
  background-color: gray;
  border-radius: 8px;
  margin: 6px;
  padding: 10px;
  height: fit-content;
}

.PackingCategory {
  text-align: left;
  color: black;
  font-weight: bold;
  font-size: large;
  border-radius: 8px;
  margin: 6px;
}

.PackingItems {
  text-align: left;
  color: black;
  font-size:larger;
  background-color: lightcyan;
  border-radius: 8px;
  margin: 6px;
  padding: 10px;
}

.edit-items {
  text-align: left;
  color: black;
  font-size: larger;
  background-color: lightgreen;
  border-radius: 8px;
  margin: 6px;
  padding: 10px;
}


.ItemHide {
  opacity: 25%;
  background-color: lightgray;
}

