.buttons {
  display: flex;
}

.yes,
.no {
  color: black;
  background-color: white;
  cursor: pointer;
  padding: 8px;
  margin-top: 16px;
  width: 500px;
  margin-right: auto;
  margin-left: 20px;
}

.yes {
  background-color: gray;
  margin-left: auto;
  margin-right: 20px;
}
