.container {
  display: flex;
  flex-direction: column;
  background: lightgray;
  border-radius: 8px;
  padding: 20px;
  margin: auto;
  width: 80%;
}

.header {
  display: flex;
}

.title {
  color: black;
  margin-right: auto;
  font-size: larger;
  font-weight: bold;
}

.buttons {
  display: flex;
}

.yes,
.no {
  color: black;
  background-color: white;
  cursor: pointer;
  padding: 8px;
  margin-top: 16px;
  width: 500px;
  margin-right: auto;
  margin-left: 20px;
}

.yes {
  background-color: gray;
  margin-left: auto;
  margin-right: 20px;
}

.close {
  color: white;
  background-color: gray;
  border-radius: 5px;
  cursor: pointer;
  margin-left: auto;
  width: 32px;
  height: 32px;
}

input {
  font-size: large;
  margin-top: 10px;
  padding: 12px;
}